<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Interpretation variant cards</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
    <style>
        body {
            padding-top: 80px;
        }
    </style>
    <!-- Favicons output here on build -->
    <!-- CSS files output here on build -->
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="../../index.html"><span aria-label="bootpack homepage">Home</span></a>
        </div>
    </nav>




    <div id="drawer" class="shadow">
        <div class="close-drawer">
            <i class="ri-close-line"></i>
            <span class="clearfix"></span>
        </div>
        <div class="row">
            <div class="col-md-12"></div>
        </div>


        <div class="container">



            <div class="row mb-12">

                <div class="card mb-3 header-card">

                    <div class="row">
                        <div class="col-md-10 add-padding">

                            <h4>6:56618563:TGA>T</h4>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Variant type <span class="bold">INDEL</span></li>
                                <li class="list-group-item">Assembly <span class="bold">GRCh38</span></li>
                            </ul>
                        </div>
                        <div class="col-md-2 add-padding">
                            <span class="badge badge-secondary pathogenic-badge float-right">PATHOGENIC</span>
                            <span class="badge badge-secondary transparent-badge float-right">LDLR</span>
                        </div>
                    </div>
                </div>

            </div>

            <div class="card border-medium mb-3 shadow-sm">
                <div class="card-header"><a href="https://bio-prod-cva.gel.zone/case/9946-1" target="_blank">9946-1</a>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="card-title">
                                <span class="badge badge-secondary pathogenic-badge">PATHOGENIC</span>
                            </h5>

                            <span class="badge small-badge PS1">PS1</span>
                            <span class="badge small-badge PM2">PM2</span>
                            <span class="badge small-badge BA1">BA1</span>



                        </div>
                        <div class="col-md-6">
                            <p class="card-text">
                                <span class="bold">Comment: </span>Variant has been validated and classified as
                                pathogenic
                            </p>
                            <p>
                                <span class="bold">Validation status: </span><span class="yes">Yes</span>
                            </p>

                        </div>
                    </div>

                </div>
                <div class="card-footer bg-transparent ">
                    <div class="row">
                        <div class="col-md-6">
                            <p>
                                <span class="bold">Created by: </span> Jean Helix
                            </p>
                            <p>
                                <span class="bold">Created: </span> 01 Jan 2020
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p>
                                <span class="bold">Requesting organisation:</span> South London
                            </p>

                            <p>
                                <span class="bold">ACMG Version:</span> 2020

                            </p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="card border-medium mb-3 shadow-sm">
                <div class="card-header"><a href="https://bio-prod-cva.gel.zone/case/321-1" target="_blank">321-1</a>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="card-title">
                                <span class="badge badge-secondary pathogenic-badge">LIKELY PATHOGENIC</span>
                            </h5>


                            <span class="badge small-badge PM2">PM2</span>



                        </div>
                        <div class="col-md-6">
                            <p class="card-text">
                                <span class="bold">Comment: </span>Variant has been validated and classified as
                                pathogenic
                            </p>
                            <p>
                                <span class="bold">Validation status: </span><span class="notPerformed">Not
                                    performed</span>
                            </p>

                        </div>
                    </div>

                </div>
                <div class="card-footer bg-transparent ">
                    <div class="row">
                        <div class="col-md-6">
                            <p>
                                <span class="bold">Created by: </span> John Doe
                            </p>
                            <p>
                                <span class="bold">Created: </span> 12 Mar 2020
                            </p>
                        </div>
                        <div class="col-md-6">

                            <p>
                                <span class="bold">Requesting organisation:</span> North London
                            </p>

                            <p>
                                <span class="bold">ACMG Version:</span> 2020

                            </p>

                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>

    </div>
    <!-- JS files output here on build -->
</body>

</html>