<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Interpretation variant cards</title>
    <style>
        body {
            padding-top: 80px;
        }
    </style>
    <!-- Favicons output here on build -->
    <!-- CSS files output here on build -->
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="../../index.html"><span aria-label="bootpack homepage">Home</span></a>
        </div>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-12"></div>
        </div>
    </div>

    <div id="drawer" class="shadow">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h3>Interpretation Log</h3>
                </div>
            </div>
            <hr>
            <div class="row mb-12">

                <div class="card mb-3 header-card">

                    <div class="row">
                        <div class="col-md-10 add-padding">

                            <h4>6:56618563:TGA>T</h4>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Variant type <span class="bold">INDEL</span></li>
                                <li class="list-group-item">Assembly <span class="bold">GRCh38</span></li>
                            </ul>
                        </div>
                        <div class="col-md-2 add-padding">
                            <span class="badge badge-secondary pathogenic-badge float-right">PATHOGENIC</span>
                            <span class="badge badge-secondary transparent-badge float-right">LDLR</span>
                        </div>
                    </div>
                </div>

            </div>

            <div class="card border-medium mb-3 shadow-sm">
                <div class="card-header">Case ID : SAP-9946-1</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="card-title">
                                <span class="badge badge-secondary pathogenic-badge">PATHOGENIC</span>
                            </h5>

                            <span class="badge small-badge PS1">PS1</span>
                            <span class="badge small-badge PM2">PM2</span>
                            <span class="badge small-badge BA1">BA1</span>



                        </div>
                        <div class="col-md-6">
                            <p class="card-text">
                                <span class="bold">Comment: </span>Variant has been validated and classified as
                                pathogenic
                            </p>
                            <p>
                                <span class="bold">Validation status: </span>Confirmed<span class="check">✔︎</span>
                            </p>
                            <p><span class="bold">Source: </span>Congenica</p>
                        </div>
                    </div>

                </div>
                <div class="card-footer bg-transparent ">
                    <div class="row">
                        <div class="col-md-6">
                            <p>
                                <span class="bold">User: </span> Jean Helix
                            </p>
                            <p>
                                <span class="bold">Date created: </span> 01/01/2020
                            </p>
                        </div>
                        <div class="col-md-6">
                            <p>
                                <span class="bold">South London GLH</span>
                            </p>

                            <p>
                                <span class="badge small-badge ACMG_Version">ACMG Version: 2020</span>
                            </p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="card border-medium mb-3 shadow-sm">
                <div class="card-header">Case ID : OPA-321-1</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h5 class="card-title">
                                <span class="badge badge-secondary pathogenic-badge">LIKELY PATHOGENIC</span>
                            </h5>


                            <span class="badge small-badge PM2">PM2</span>



                        </div>
                        <div class="col-md-6">
                            <p class="card-text">
                                <span class="bold">Comment: </span>Variant has been validated and classified as
                                pathogenic
                            </p>
                            <p>
                                <span class="bold">Validation status: </span>Not confirmed<span class="check">❌</span>
                            </p>
                            <p><span class="bold">Source: </span>Fabric</p>
                        </div>
                    </div>

                </div>
                <div class="card-footer bg-transparent ">
                    <div class="row">
                        <div class="col-md-6">
                            <p>
                                <span class="bold">User: </span> John Doe
                            </p>
                            <p>
                                <span class="bold">Date created: </span> 01/01/2020
                            </p>
                        </div>
                        <div class="col-md-6">



                        </div>
                    </div>

                </div>
            </div>


        </div>
    </div>

    </div>
    <!-- JS files output here on build -->
</body>

</html>